<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Speech Highlighter (TEXT ONLY)</title>
</head>
<body>
    
<h1>
    Yo!
</h1>
<p>
    This is a simple speech highlighter.
</p>
<p id="script"></p>
<button onclick="startRecognition()">Start</button>

<script src="script.js"></script>

<p id="sentence"><%- sentence %></p>

</body>
</html>